@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 49vw;
    background-image: url('img/background-frida.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* ---------------Frida----------------- */
.frida-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa65ef5;  
}
.logo-box{
    width: 20.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frida-logo{
    width: 100%;
}
/* ------------------Nav-------------------- */
.frida-list{
    width: 50%;
    height: 100%;   
}
nav{
    width: 100%;
    height: 100%;
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    width: 100%;
    height: 100%;
    padding: 12% 0;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    list-style: none;
    position: relative;
    z-index:2;
}
li::before{
    content:'';
    width: 0%;
    height: 100%;
    background-color: whitesmoke;
    z-index:-1;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
}
li:hover::before{
    width: 100%;
    height: 100%;
    color: black;
}
a{
    width: 100%;
    list-style: none;
    text-decoration: none;
    color: black;
}
/* ----------------Frida------------------- */
.frida{
    width: 95%;
    height: 90%;
    position:relative;
    left:5%;
    top: 1%;
}
.frida-box{
    width: 45%;
    height: 100%;
    padding: 3% 0% 0 5%;
    overflow: hidden;
    animation: forwards 2.5s slideFrida;
    animation-delay: 0.5s;
    opacity: 0%;
}
.frida-img{
    width:100%;
    height: 100%;
}
@keyframes slideFrida {
    from{
        opacity: 0%;
        transform: translateY(15%) ;
    }to{
        opacity: 100%;
        transform: translateY(0%) ;
    }
}
/* ------------History the Frida---------- */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/background-frida.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.frida-history{
    width: 100%;
    text-align: center;  
    background: #ff9a47f8;
    position: relative;
}
.history-text{
    width: 30.1%;
    padding: 0% 3%;
    background-color:#ff9a47;
    background-color: whitesmoke;
    border-radius: 2.5vw 0;
    position: absolute;
    left: 56.2%;
    bottom: 80%;
    z-index:4;
}
.frida-title{
    width: 100%;
    padding: 25% 3% 10% 3%;
    font-family:'Oswald', sans-serif;
    font-size: 8vw;
    background-color: whitesmoke;
    color: #ff9a47;
}
@keyframes slideHist {
    from{
        opacity: 0%;
        transform: translateX(15%) ;
    }to{
        opacity: 100%;
        transform: translateX(0%) ;
    }
}
h1{
    text-decoration: underline;
    animation: forwards 1s slideHist;
    animation-delay: 2s;
    opacity: 0;
}
.history-title{
    padding: 15% 0 3% 0;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}
.history-title:hover{
    background-color: transparent;
}
.history-text p{
    font-size: 1.2vw;
    padding: 3% 0 10%;
}
.lorem{
    width: 100%;
    padding: 20% 0;
    color: black;
}
/* ----------curiosity--------- */
.curiosity{
    width: 90%;
    display:flex; 
    justify-content:flex-start;
    align-items: flex-end;
    position:relative;
}
h2{
    padding:5% 0;
    font-size: 2.5vw;
    font-family: 'Yellowtail', cursive;
    border-top: solid 0.5vh;
    border-bottom: solid 0.5vh;
    background-color: whitesmoke;
}
h2:hover{
    background-color: #ff9a47;
}
.container-curiosity{
    width:50%;
    margin: 0 0 5% 4% ;
    padding: 4% 3% 2% 3%;
    background-color: whitesmoke;
    border-radius: 0 0 2vw 2vw;   
    display:flex;
    flex-direction: column;
}
.nickname{
    width: 100%;
    display: flex;   
}
.nick-box{
    width:25%;
    margin-bottom: 5%;
    position: relative;
    left: 12%;
    z-index: 5;
}
.frida-ka{
    width: 100%;
    border-radius: 2vw;
}
.frida-ka:hover{
    transform: scale(1.2);
}
h3{
    font-family:'Oswald', sans-serif;
    text-decoration: underline;
    font-size: 1.5vw;
    padding:3%;
}
p{
    padding: 2% 0 3%;
    font-size: 1.1vw;
}
.btn-container{
    width: 100%;
    padding: 5%;
    border-bottom: solid 0.5vh;
}
.btn-frida{
    padding:2%;
    border: none;
    font-size: 1.2vw;
    font-family:'Oswald', sans-serif;
    border-top: solid 0.5vh;
    border-bottom: solid 0.5vh;
    background:transparent;
}
.btn-frida:hover{
background-color: #ff9a47;
}
/*------------Obras----------*/
.obras{
    width: 100%;
    display: flex;
    padding-bottom: 5%;
}
.obras-container{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.obras-boxs{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.obras-box{
    width: 100%;
}
.obras-itens{
    width: 55%;
}
.obras-img{
    width: 87%;
    padding-right: 10%;
}
.obras-img img{
    width: 100%;
}
.obras-itens img{
    width: 100%;
}
.obras-text{
    width: 45%;
    padding: 4%;
    background-color: whitesmoke;
    margin-left: 2.5%;
    border-radius: 2vw ;
}
/* ----kHLO---- */
footer{
    background-image: url('img/background-frida.jpg');
    background-size: cover;
}
.kahlo-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log-box{
    width: 20%;
}
.frida-back{
    width: 20%;
}
@media(max-width:500px){

}